body {
    font-family: Arial, sans-serif;
    font-size: large;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.feed {
    text-align: center;
}

.center {
    text-align: center;
}

.no-link {
    text-decoration: none;
}

.delete-post {
    font-size: small
}

.post-date {
    font-size: x-small;
}

nav {
    text-align: center; 
    margin-top: 20px; 
}

nav a {
    text-decoration: none;
    color: #000; 
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}